.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.button1 {background-color: #4472C4;
color: white;}
.textColor1 {
    color: #4472C4;}
.textColor2{
    color: #ED7D31;}